### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/.metadata/
/java-basic-thread-demo/target
/java-basic-thread-demo/.mvn/wrapper

/hello-world-demo/hello-world-jetty/.settings
/hello-world-demo/hello-world-jetty/*.project
/hello-world-demo/hello-world-jetty/target
/hello-world-demo/hello-world-jetty/logs
/hello-world-demo/hello-world-jetty/*.classpath
/hello-world-demo/hello-world-jetty/src/main/webapp/temp
